//REMOVE PREVIOUS NOTICES
//$(".error").remove();
//$(".form-group").removeClass("has-error");
//$(".notice2").remove();

//DISPLAY ERROR MESSAGES, IF ANY
//$("#pieceBlock").append('<div class="error"><%=escape_javascript(@errorPiece[0])%></div>');
//$('#pieceBlock:contains(.)').closest('.form-group').addClass('has-error');

//DISPLAY SUCCESS MESSAGE, IF SAVED
//$(".helpBlock").append('<div class="notice"><%=escape_javascript(flash.discard(:notice))%></div>');

//DISPLAY PIECES ARRAY
//$(".piecesList").append('<div class="notice2"><p>List of all pieces: <%=escape_javascript($pieces.join(" "))%></p></div>');

//RESET FORM IF MESSAGE SAVED
//<% if @resetForm == "1" %>
//$(".form-horizontal")[0].reset();
//<% end %>
//    
    
//to do: on page reload, reset pieces