<div class="container-fluid" id="notes">
    <p>Hello! Welcome to my Tetris bot. Can you make it lose?</p>
    <div class="tetrislist" id="A" onclick="myFunction(this)"><strong>Piece A:</strong>
        <div class="pieceA">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="tetrislist" id="B" onclick="myFunction(this)"><strong>Piece B:</strong>
        <div class="pieceB">
            <div class="row1">
                <div class="clear"></div>
                <div></div>
            </div>
            <div class="row2">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="tetrislist" id="C" onclick="myFunction(this)"><strong>Piece C:</strong>
        <div class="pieceC">
            <div class="row1">
                <div></div>
                <div></div>
            </div>
            <div class="row2">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="tetrislist" id="D" onclick="myFunction(this)"><strong>Piece D:</strong>
        <div class="pieceD">
            <div class="row1">
                <div></div>
                <div></div>
            </div>
            <div class="row2">
                <div class="clear"></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="tetrislist" id="E" onclick="myFunction(this)"><strong>Piece E:</strong>
        <div class="pieceE">
            <div class="row1">
                <div></div>
            </div>
            <div class="row2">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
<% if false %>
<%= render 'inputs/form' %>
<% end %>
</div>
<div class="container-fluid board">
</div>